body
{ 
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #39262e;
  color: #000;
}

#frame
{
  /*127x61 x3*/
  width: 381px;
  height: 183px;
  background: url('frame.png') no-repeat center center ;

  position: absolute;
  left: calc(50vw - 190.5px);
  top: calc(50vh - 91.5px);

  /*NN scaling*/
  background-size: cover;         /* Generic*/
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  image-rendering: crisp-edges;
}

#frame div
{
  width: 59%;
  color: #e3b184;
  font-family: 'munro';
  font-size: 30px;
  font-weight: normal;

  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@font-face {
    font-family: 'munro';
    src: url('font.ttf');
}